@import '../../global.scss';

.project-section{
    color: $mainColor;
    padding: 50px 0;
    .projects{
        display: flex;
        width: 100%;
        padding: 18px 0;
    
        .left{
            flex: 0.5;
    
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .right{
            flex: 0.5;
            
            .p-title{
                color: $mainColor;
            }
            a{
                text-decoration: none;
            }
            .description{

                margin-bottom: 15px;

                .list1{
                    font-size: 14px;
                }
            }
        }
    }
}